@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo";
  src: url("/fonts/baloo-regular.woff2");
}

@font-face {
  font-family: "BalooTamma";
  src: url("/fonts/baloo-tamma.woff2");
}

@layer base {
  :root {
    --background: #fff;
    --foreground: ##09090b;

    --muted: #f4f4f5;
    --muted-foreground: #71717a;

    --popover: #fff;
    --popover-foreground: #09090b;

    --card: #fff;
    --card-foreground: #09090b;

    --border: #e4e4e7;
    --input: #e4e4e7;

    --primary: #18181b;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --accent: #f4f4f5;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --ring: #a1a1aa;

    --peach: #f9f0e7;
    --peach-services-text: #ffe1cc;
    --green-gradient-from: #2ba0ab;
    --green-gradient-to: #124b4b;
    --white-gradient-from: #fff;
    --white-gradient-to: #e9fafc;
    --primary-green: #2a3342;
    --secondary-green: #175a5c;
    --green-navbar-text: #2b6969;
    --green-services-text: #89d3d2;
    --green-navbar-hover: #207b81;
    --green-button-background: #228383;
    --green-button-text: #fef1eb;
    --green-contact-form-text: #89d3d2;
    --location-text: #170e09;
    --primary-button-border: #f3decc;
    --secondary-button-border: #b9f1dd;
    --appointment-button-border: #f6e0ce;
    --contact-button-border: #fef1ec;
    --contact-button-background: #95eece;
    --off-white-text: #fcf1eb;
    --light-section-text: #278c96;
    --dark-section-text: #dae7e9;

    --radius: 0.5rem;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;

    --popover: #09090b;
    --popover-foreground: #fafafa;

    --card: #09090b;
    --card-foreground: #fafafa;

    --border: #27272a;
    --input: #27272a;

    --primary: #fafafa;
    --primary-foreground: #18181b;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --accent: #27272a;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #fef2f2;

    --ring: #27272a;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }

  .location-pill {
    background: linear-gradient(85.38deg, #f5f5f5 10.45%, #95eece 128.37%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
